<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flyingpigeon.sample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.flyingpigeon.sample.ServiceApiImpl"
            android:authorities="com.flyingpigeon.sample.api"
            android:exported="true"
            android:grantUriPermissions="false"
            android:process=":tools" />

        <provider
            android:name="com.flyingpigeon.sample.MainProcessApi"
            android:authorities="com.flyingpigeon.sample.main.api"
            android:exported="true"
            android:grantUriPermissions="false" />

        <service
            android:name=".RemoteService"
            android:process=":tools" />

    </application>

</manifest>